@import "variables";

.header {
  min-height: 80px;
  padding: 10px 0;
  background-color: $bg_header_color;
  outline: 5px solid lighten($bg_header_color, 20%);


  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    .header__logo {
      width: 50px;
      height: 50px;
      cursor: pointer;
      transition: 0.1s;

      &:hover {
        transform: scale(1.1);
      }
    }


    .timer {

      .timer__value {
        display: inline-block;
        width: 43px;
      }
    }

    .new-game {
      @extend .button
    }

    .counter {

      .counter__value {
        width: 30px;
        display: inline-block;
      }
    }

    .records {
      @extend .button
    }
  }
}