/* Variables */
$bg_header_color: #1f2126;
$bg_body_color: #1b2838;
$text-color: #c6d4df;
$text-color-hover: darken($text-color, 30%);
$gap: 10px;
$multiplier: 0.85;
$hero_w: 256px * $multiplier;
$hero_h: 144px * $multiplier;
$grid_column: 4;