@import "variables";
@import "normalize.css";
@import "../fonts/TrajanPro3Regular/style.css";
@import "header";
@import "main";
@import "footer";

html {
  color: $text-color;
}

a {
  text-decoration: none;
  color: $text-color;
  transition: 0.3s;

  &:hover {
    color: $text-color-hover;
  }
}

img {
  display: block;
}

body {
  font-family: "Trajan Pro 3", serif;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: $bg_body_color;
  position: relative;
}

.container {
  max-width: calc(#{$hero_w * $grid_column} + (#{$grid_column - 1} * #{$gap}));
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
  //outline: 1px solid red;
}

.hidden {
  visibility: hidden;
  transition: 0.1s;
}

.visible {
  visibility: visible;
  transition: 0.1s;
}

// Modal
.modal {
  width: 60%;
  height: 60%;
  min-width: 400px;
  max-width: 500px;
  padding: 40px;
  position: absolute;
  z-index: 999;
  top: -40%; // || 50%
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s cubic-bezier(0.2, 0, 0.5, 1.4);
  background-color: #c6d4df;
}

.top-50 {
  top: 50%;
}