/* Variables */
@import "normalize.css";
@import "../fonts/TrajanPro3Regular/style.css";
/* Variables */
.header {
  height: 80px;
  background-color: #1f2126;
  outline: 5px solid #4d525e;
}
.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .container .header__logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.1s;
}
.header .container .header__logo:hover {
  transform: scale(1.1);
}
.header .container .game-info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .container .game-info .timer .timer__value {
  display: inline-block;
  width: 43px;
}
.header .container .game-info .new-game {
  cursor: pointer;
  padding: 5px;
}
.header .container .game-info .counter .counter__value {
  width: 30px;
  display: inline-block;
}
.header .container .record {
  cursor: pointer;
  padding: 5px;
}

/* Variables */
.main {
  padding: 1rem 0;
}

.heroes {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(auto-fill, 215.04px);
  grid-auto-rows: 120.96px;
  gap: 15px;
  height: 100%;
  perspective: 3000px;
}
.heroes .hero {
  cursor: pointer;
  position: relative;
  transform-style: preserve-3d;
  transform: scale(1);
  transition: transform 0.5s;
}
.heroes .hero:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}
.heroes .hero.flip {
  transform: rotateX(-180deg);
}
.heroes .hero .name {
  width: 100%;
  padding: 5px;
  position: absolute;
  z-index: 3;
  top: -1px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  transform: rotateX(180deg);
}
.heroes .hero .hero__img-front {
  transform: rotateX(180deg);
}
.heroes .hero .hero__img-back {
  z-index: 4;
}
.heroes .hero .hero__img-back,
.heroes .hero .hero__img-front {
  max-width: 215.04px;
  max-height: 120.96px;
  position: absolute;
  backface-visibility: hidden;
}

/* Variables */
.footer {
  height: 80px;
  font-size: 1.5rem;
  background-color: #171a21;
  outline: 5px solid #4d525e;
}
.footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer .github__logo {
  width: 40px;
  transition: 0.3s;
}
.footer .github__logo:hover {
  transform: scale(1.1);
}
.footer .year {
  font-size: 2rem;
}
.footer .rsschool__logo {
  width: 100px;
  transition: 0.3s;
}
.footer .rsschool__logo:hover {
  transform: scale(1.1);
}

html {
  color: #c6d4df;
}

a {
  text-decoration: none;
  color: #c6d4df;
  transition: 0.3s;
}
a:hover {
  color: #648aa8;
}

img {
  display: block;
}

body {
  font-family: "Trajan Pro 3", serif;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #1b2838;
  position: relative;
}

.container {
  max-width: calc(1075.2px + (4 * 15px));
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.hidden {
  visibility: hidden;
  transition: 0.1s;
}

.visible {
  visibility: visible;
  transition: 0.1s;
}

.modal {
  width: 60%;
  height: 60%;
  min-width: 400px;
  max-width: 500px;
  padding: 40px;
  position: absolute;
  z-index: 999;
  top: -40%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s cubic-bezier(0.2, 0, 0.5, 1.4);
  background-color: #c6d4df;
}

.top-50 {
  top: 50%;
}

/*# sourceMappingURL=style.css.map */
