/* Переменные */
:root {
  --black: #000000;
  --gold: #bdae82;
  --white: #ffffff;
  --body-color: #000000;
  --text-color: #ffffff;
  --hover-color: #ffffff;
  --trasition-0-3s: 0.3s;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-28: 28px;
  --font-size-32: 32px;
  --font-size-35: 35px;
  --font-size-40: 40px;
  --font-size-60: 60px;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  background: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-rendering: optimizeSpeed;
  /* Font */
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-18);
  line-height: 36px;
  text-align: center;
  color: var(--white);
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: var(--white);
  text-decoration: none;
}

a:hover {
  color: var(--gold);
  transition: color var(--trasition-0-3s);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* Switch theme */
.switch-theme {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 94%;
  right: 1%;
  cursor: pointer;
  background-image: url(./assets/svg/switchTheme.svg);
}

#skills,
#portfolio,
#video,
#price {
  background-color: var(--body-color);
  color: var(--text-color);
}
/* END Switch theme */

/* Header */
.header-container {
  height: 90px;
  background: url('./assets/img/header-bg.jpg') no-repeat center 0;
  padding: 20px 20px 0 20px;
}

.header-top {
  display: flex;
  font-size: var(--font-size-20);
  line-height: 50px;
}

/* Logo */
.logo {
  width: 50px;
  height: 50px;
  background-image: url('./assets/svg/logo.svg');
  cursor: pointer;
  transition: var(--trasition-0-3s);
}

.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}
/* END Logo */

/* Nav */
.nav {
  margin-left: auto;
}

ul.nav-list {
  height: 50px;
  display: flex;
  margin-right: 32px;
  gap: 30px;
  justify-content: space-around;
  align-items: center;
}
/* END Nav */

/* Header lang */
.switch-lng {
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lang {
  cursor: pointer;
}

.lang-active {
  color: var(--gold);
  cursor: default;
}
/* END Header lang */
/* END Header */

/* Main */
.main {
  flex: 1 0 auto;
}
/* END Main */

/* Footer */
.footer .container {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Footer data */
.footer-data {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 21px;
}

.footer-data span {
  font-size: var(--font-size-20);
}

.footer-data span a {
  transition: color var(--trasition-0-3s);
}

.footer-data span:first-child {
  font-size: var(--font-size-18);
  padding-left: 20px;
}
/* END Footer data */

/* Social */
.social-list {
  height: 50px;
  display: flex;
  align-items: center;
}

ul.social-list li {
  margin-right: 20px;
}

.social-list a {
  width: 32px;
  height: 32px;
  display: block;
}

.social-list a svg {
  width: 32px;
  height: 32px;
  fill: var(--white);
}

.social-list a svg:hover {
  fill: var(--gold);
  transition: fill var(--trasition-0-3s);
}
/* END Social */

/* RSSchool */
.rsschool-link {
  padding-left: 19px;
  font-size: var(--font-size-20);
}

.rsschool-link a {
  transition: color var(--trasition-0-3s);
}
/* END RSSchool */
/* END Footer */

/* Button style */
.btn {
  padding: 7px 74px;
  font-size: var(--font-size-20);
  line-height: 40px;
  border: none;
  cursor: pointer;
  transition: color var(--trasition-0-3s);
}

.btn-gold {
  background-color: var(--gold);
  color: var(--black);
}

.btn-gold:hover {
  color: var(--white);
}

.btn-black {
  width: 220px;
  height: 55px;
  padding: 0;
  background-color: transparent;
  color: var(--gold);
  border: 2px solid var(--gold);
}

.btn-black:hover {
  color: var(--hover-color);
  transition: none;
}

.btn-black-active {
  color: var(--black);
  background: var(--gold);
}

.btn-price {
  padding: 7px 39px;
  font-family: Inter, serif;
  font-weight: normal;
}

.hero button.btn {
  margin-top: 6px;
}

.contacts button {
  padding: 7px 40px;
  margin-top: 10px;
}
/* END Button style */

/* Sections */
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section:not(:first-child) {
  padding-top: 100px;
}

.section-title {
  padding: 0 275px;
  background: url(./assets/svg/section-title-line.svg) no-repeat center;
}

.section-title h2 {
  font-family: Merriweather, serif;
  font-size: var(--font-size-40);
  line-height: 80px;
  color: var(--gold);
  padding: 0 20px;
  background-color: var(--body-color);
}

/* Hero */
.hero-container {
  width: 100%;
  height: 820px;
  position: relative;
  background-image: url('./assets/img/header-bg.jpg');
  background-position: center -90px;
  background-repeat: no-repeat;
}

.hero {
  max-width: 500px;
  max-height: 330px;
  margin: 175px 0 0 60px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.hero h1 {
  font-family: Merriweather, serif;
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-size-60);
  line-height: 90px;
  text-align: left;
}

.hero-description {
  font-family: Inter, serif;
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-20);
  line-height: 40px;
  text-align: left;
  padding: 25px 15px 20px 0;
}
/* END Hero */

/* Skills */
.skills-items {
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
}

.skill-item {
  flex-basis: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-title {
  margin-top: 50px;
  font-size: var(--font-size-20);
  line-height: 40px;
}

.skill-description {
  margin: 20px 20px 8px 20px;
  font-size: var(--font-size-18);
  line-height: 37px;
}
/* END Skills */

/* Portfolio */
.portfolio-btns {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  padding-top: 60px;
  justify-content: center;
  margin-left: -26px;
}

.portfolio-img {
  width: 450px;
  height: 560px;
  margin-left: 25px;
  margin-bottom: 25px;
}
/* END Portfolio */

/* Video */
#video {
  margin-top: -25px;
}

.video-player {
  width: 100%;
  max-height: 705px;
  /*background: url(./assets/img/video-player.jpg) no-repeat center;*/
  margin-top: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-player .icon {
  height: 130px;
  width: 130px;
  background: transparent url(./assets/svg/Play_Unvisited.svg) no-repeat center;
  border: none;
  cursor: pointer;
  transition: var(--trasition-0-3s);
}

.video-player .icon:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}
/* END Video */

/* Price */
#price {
  padding-bottom: 100px;
}

.product-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 25px;
  margin-top: 60px;
}

.product-wrapper span {
  display: block;
}

.product-card {
  /* width: 450px; */
  /* height: 505px; */
  border: 3px solid var(--gold);
  padding: 50px 7.77% 40px;
}

.product-card button {
  margin-top: 40px;
}

.price-description {
  margin-top: 26px;
}

.price-description span {
  font-family: Inter, serif;
  font-weight: normal;
}

.product-card {
  font-family: Merriweather, serif;
  font-style: normal;
  font-weight: bold;
}

.price-title {
  font-size: var(--font-size-28);
}

.price-value {
  font-size: var(--font-size-24);
  margin-top: 37px;
  color: var(--gold);
}
/* END Price */

/* Contact me */
.contact-bg {
  height: 700px;
  background: url(./assets/img/contacts.jpg) no-repeat center;
  background-size: auto 700px;
  padding-top: 0;
}

.contacts {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: auto;
  margin-right: 20px;
  margin-top: -18px;
}

.contacts input,
.contacts textarea {
  display: block;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid var(--gold);
  margin-bottom: 20px;
  color: var(--gold);
}

.contacts input:focus,
.contacts textarea:focus {
  outline: 1px solid var(--gold);
  font-size: var(--font-size-20);
}

.contacts input:focus {
  padding-left: 18px;
  padding-right: 18px;
}

.contacts textarea:focus {
  padding-top: 12px;
  line-height: 22px;
}

.contacts input {
  height: 50px;
  padding-left: 18px;
}

.contacts textarea {
  height: 100px;
  resize: none;
  padding: 5px 18px;
}

.contacts input::placeholder,
.contacts textarea::placeholder {
  font-family: inherit;
  color: var(--gold);
  font-size: var(--font-size-20);
}

.contacts h2 {
  font-family: Merriweather, serif;
  font-size: var(--font-size-40);
  color: var(--gold);
  margin-bottom: 62px;
}
/* END Contact me */
/* END Sections */

/* Sprites */
.bg-video {
  width: 60px;
  height: 50px;
  background: url(./assets/png/css_sprites_skills.png) -10px -80px;
}

.bg-camera {
  width: 62px;
  height: 50px;
  background: url(./assets/png/css_sprites_skills.png) -96px -10px;
}

.bg-image {
  width: 66px;
  height: 50px;
  background: url(./assets/png/css_sprites_skills.png) -10px -10px;
}

.bg-mic {
  width: 32px;
  height: 50px;
  background: url(./assets/png/css_sprites_skills.png) -90px -80px;
}
/* END Sprites */

/* Media Queries 768px */
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .container {
    max-width: 768px;
  }

  .switch-theme {
    top: 71%;
  }

  /* Header */
  .header-container {
    padding-left: 60px;
    background-position: 0 -27px;
    background-size: 126.5%;
  }

  .switch-lng {
    margin-left: auto;
    margin-right: 115px;
    justify-content: end;
    gap: 20px;
  }
  /* END Header */

  /* Nav */
  .nav {
    width: 603px;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    top: 0;
    right: -620px;
    padding-top: 142px;
    transition: 0.5s;
  }

  .nav.is-open {
    right: 0;
  }

  ul.nav-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: var(--font-size-35);
    align-items: baseline;
    margin-left: 126px;
    line-height: 58px;
  }
  /* END Nav */

  /* Section */
  .section {
    margin-top: 0;
  }

  .section-title h2 {
    font-size: var(--font-size-32);
  }

  .section-title {
    padding: 0 118px;
  }

  .section:not(:first-child) {
    padding-top: 0;
  }
  /* END Section */

  /* Hero */
  .hero-container {
    max-height: 496px;
    background-size: 126.5%;
    background-position: 0 -117px;
  }

  .hero {
    max-width: 390px;
    margin: 65px 60px;
    padding-left: 0;
  }

  .hero h1 {
    font-size: var(--font-size-32);
    letter-spacing: -0.3px;
  }

  .hero-description {
    font-size: var(--font-size-20);
    line-height: 24px;
    padding: 8px 0 20px 0;
  }

  .hero button.btn {
    margin-top: 39px;
  }
  /* END Hero */

  /* Skills */
  #skills {
    margin-top: 84px;
  }

  .skills-items {
    flex-wrap: wrap;
    margin: -15px 36px;
  }

  .skill-item {
    flex-basis: 50%;
    margin-bottom: 69px;
  }

  .skill-title {
    margin-top: 30px;
  }

  .skill-description {
    margin: 21px 20px 8px 20px;
    line-height: normal;
  }
  /* END Skills */

  /* Portfolio */
  #portfolio {
    margin-top: 99px;
  }

  .portfolio-btns {
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
    width: 445px;
  }

  .portfolio-items {
    justify-content: center;
  }

  .portfolio-img:nth-child(-n + 3) {
    margin-bottom: 25px;
  }

  .portfolio-items .portfolio-img {
    margin-bottom: 25px;
  }
  /* END Portfolio */

  /* Video */
  #video.section {
    margin-top: 55px;
  }
  .video-player {
    width: 100%;
    height: 418px;
    margin-top: 50px;
    background-size: cover;
    background-position: -5px 0;
  }

  .video-player .icon {
    width: 65px;
    height: 65px;
    background-size: 65px;
  }
  /* END Video */

  /* Price */
  #price {
    margin-top: 80px;
  }

  .product-wrapper {
    flex-direction: column;
    margin-top: 50px;
  }

  .product-card {
    width: 420px;
    margin-bottom: 25px;
  }
  /* END Price */

  /* Contact me */
  #contacts {
    height: 600px;
    margin-top: 55px;
    display: flex;
    justify-content: flex-start;
  }

  .contacts {
    align-items: center;
    margin: 74px auto 0;
  }

  .contacts h2 {
    font-size: var(--font-size-32);
    margin-bottom: 54px;
  }

  .contact-bg {
    background-size: auto 600px;
  }
  /* END Contact me */

  /* Footer */
  .footer {
    padding-bottom: 40px;
  }

  .footer .container {
    flex-direction: column;
    padding-top: 15px;
    margin-left: -12px;
  }

  .footer-data {
    gap: 23px;
  }

  .rsschool-link {
    margin-top: -5px;
    margin-bottom: 3px;
    padding-left: 22px;
  }

  ul.social-list {
    margin-left: 43px;
    display: flex;
    align-items: flex-end;
    margin-bottom: -3px;
    /* margin-top: 39px; */
  }
  /* END Footer */

  /* Hamburger */
  .row .three {
    padding: 80px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
  }

  .hamburger {
    position: absolute;
    top: 21px;
    right: 64px;
    z-index: 20;
  }

  .hamburger .line {
    width: 50px;
    height: 5px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .hamburger:hover {
    cursor: pointer;
  }

  #hamburger-1.is-active {
    position: fixed;
  }

  #hamburger-1.is-active .line:nth-child(2) {
    opacity: 0;
  }

  #hamburger-1.is-active .line:nth-child(1) {
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
  }

  #hamburger-1.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
  }
  /* END Hamburger */
}
/* END Media Queries 768px */

/* Media Queries 750px */
.hero {
  max-width: 52%;
}
/* END Media Queries 750px */

/* Media Queries 650px */
@media (max-width: 650px) {
  .switch-theme {
    top: 45%;
  }

  .nav {
    width: 100%;
    right: -100%;
  }

  .hero-container {
    height: auto;
    padding: 0 3rem;
  }

  .hero {
    margin: 0;
    max-width: 100%;
    height: auto;
  }

  .hero h1 {
    font-size: var(--font-size-24);
    line-height: normal;
    margin: 1rem 0;
  }

  .hero-description {
    font-size: var(--font-size-16);
    padding: 0;
    margin-bottom: 1rem;
  }

  .hero button.btn {
    margin: 1rem auto;
  }
}
/* END Media Queries 650px */

/* Media Queries 320px */
@media (max-width: 460px) {
  .main .section:nth-child(1) {
    margin: 0 -1rem;
  }

  .container {
    padding: 0 1rem;
  }

  .header-container {
    padding-left: 2rem;
    margin: 0 -1rem;
    background-position: -80px 0;
    background-size: 170%;
  }

  .switch-lng {
    margin-right: 5.5rem;
  }

  .hamburger {
    right: 1rem;
  }

  .section-title {
    margin-bottom: 2rem;
    padding: 0 3rem;
  }

  .hero-container {
    height: auto;
    padding: 0 1rem;
    background-size: 170%;
    background-position: -80px -90px;
  }

  .hero {
    margin: 0;
    max-width: 100%;
    padding-bottom: 1rem;
  }

  .hero h1 {
    font-size: var(--font-size-24);
    line-height: normal;
    margin: 1rem 0;
  }

  .hero-description {
    font-size: var(--font-size-16);
    padding: 0;
    margin-bottom: 1rem;
  }

  .hero button.btn {
    margin: 0 auto;
  }

  #skills {
    margin-top: 0;
  }

  .skills-items {
    padding-top: 0;
  }

  .skill-title {
    line-height: normal;
    font-size: var(--font-size-18);
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .skill-item {
    flex-basis: 100%;
    margin-bottom: 2rem;
  }

  .skill-description {
    margin: 0;
    font-size: var(--font-size-16);
  }

  #portfolio {
    margin-top: 1rem;
  }

  .portfolio-btns {
    margin-top: 0;
    margin-bottom: 2rem;
    width: 100%;
  }

  .portfolio-items {
    padding-top: 0;
    margin: 0;
  }

  .portfolio-img {
    width: 100%;
    height: auto;
    margin: 0;
  }

  #video.section {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .section-title {
    margin-bottom: 1rem;
  }

  .video-player {
    height: 17rem;
    margin: 0;
    background-position: 0;
  }

  #price {
    margin-top: 0;
  }

  .price-title {
    font-size: var(--font-size-24);
  }

  .btn-price {
    padding: 0.5rem 1rem;
  }

  .product-wrapper {
    margin-top: 0;
  }

  .product-card {
    width: 100%;
    padding: 1rem 2rem;
    margin-bottom: 0;
  }

  .price-value {
    margin-top: 1rem;
  }

  .price-description {
    margin-top: 1rem;
    line-height: 1.5rem;
  }

  .product-card button {
    margin-top: 2rem;
  }

  #contacts {
    margin-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: auto;
  }

  .contacts {
    width: 100%;
    margin-top: 2rem;
  }

  .contacts h2 {
    margin-bottom: 2rem;
  }

  .contacts input,
  .contacts textarea {
    padding: 0 1rem;
  }
}
/* END Media Queries 320px */

/* Button ripple */
button.btn {
  overflow: hidden;
  position: relative;
}

button:focus {
  outline: none;
}

.circle {
  position: absolute;
  background-color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.5s ease-out;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
/* END Button ripple */
